<div style="width: 100%;">
    <table>
        <tr>
            <th colspan="2" class="section-header">Informe de auditoría spot a la mantención de vehículos y maquinaria
            </th>
        </tr>
        <tr>
            <td><strong>Informe:</strong></td>
            <td>CODIGO DEL INFORME</td>
        </tr>
        <tr>
            <td><strong>Fecha:</strong></td>
            <td>FECHA DE AUDITORÍA</td>
        </tr>
        <tr>
            <td><strong>Empresa auditada:</strong></td>
            <td>NOMBRE EMPRESA</td>
        </tr>
        <tr>
            <td><strong>Auditores:</strong></td>
            <td>
                <ul>
                    <li>Nombre 1</li>
                    <li>Nombre 2</li>
                </ul>
            </td>
        </tr>
        <tr>
            <td><strong>Documentos solicitados:</strong></td>
            <td>
                <ul>
                    <li>Documento 1</li>
                    <li>Documento 2</li>
                </ul>
            </td>
        </tr>
        <tr>
            <td><strong>Personas contactadas:</strong></td>
            <td>
                <ul>
                    <li>Nombre - Cargo</li>
                </ul>
            </td>
        </tr>
        <tr>
            <td><strong>Equipo auditado:</strong></td>
            <td>
                <ul>
                    <li>Descripción equipo</li>
                </ul>
            </td>
        </tr>
    </table>

    <!-- Categorías de los hallazgos -->
    <div class="section-header">Categorías de los hallazgos:</div>
    <table>
        <tr>
            <th>Conformidad "C"</th>
            <td>La evaluación de la evidencia recopilada durante el proceso permite afirmar que se cumple el requisito
                auditado.</td>
        </tr>
        <tr>
            <th>No conformidad "NC"</th>
            <td>La evaluación de la evidencia recopilada durante el proceso permite afirmar que no se cumple el
                requisito
                auditado.</td>
        </tr>
        <tr>
            <th>Oportunidad de mejora "OP"</th>
            <td>La evaluación de la evidencia recopilada durante el proceso permite afirmar que se cumple de forma
                parcial o
                poco sustentable, existiendo espacio para mejorar.</td>
        </tr>
        <tr>
            <th>No Aplica - "NA"</th>
            <td>La evaluación de la evidencia solicitada no aplica para este contratista o no corresponde al componente.
            </td>
        </tr>
    </table>

    <!-- Introducción -->
    <div class="section-header">Introducción:</div>
    <p>
        La auditoría realizada el día <strong>FECHA</strong>, se llevó a cabo en las instalaciones de
        <strong>PROYECTO</strong>. Durante la actividad, se verificó el cumplimiento del ANEXO correspondiente y la
        gestión
        del mantenimiento de equipos y maquinarias.
    </p>

</div>