<div>
    <!-- Introducción -->
    <div class="section-header">Introducción</div>
    <p style="text-align: justify; font-size: 14px;">
        La auditoría realizada el día <strong><%= data.fecha_informe_formateada %></strong>, se llevó a cabo en las instalaciones del proyecto <strong><%= data.empresa_nombre %></strong>. Durante la actividad, se verificó el cumplimiento del ANEXO correspondiente. A continuación, se describen las áreas de acción de cumplimiento de las normativas descritas en ANEXO 10 y SGP-14SSO-STDTC-00003 ESTÁNDAR EVALUACIÓN, ADMINISTRACIÓN Y GESTIÓN DE COMPETENCIAS PARA OPERADORES, CONDUCTORES DE EQUIPOS Y VEHÍCULOS de acuerdo con los estándares de Codelco.
    </p>
</div>