<div>

    <h2 style="text-align: center; color:black; margin-bottom: 50px;">Resumen general de la auditoría</h2>

    <p style="text-align: justify;">
        <%= data.resumen_final %>
    </p>
</div>